
.spinner div {
    position: absolute;
    width: 20%;
    height: 20%;
    transform-style: preserve-3d;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.8);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    line-height: 20px;
    }
.spinner img{
    width: 400px;
    height: 400px;
}
.spinner .face1 { 
    transform: translateZ(200px);
    
   
}
.spinner .face2 { 
    transform: rotateY(90deg) translateZ(200px); 
    transform: rotateY(90deg) translateZ(200px); 
    transform: rotateY(90deg) translateZ(200px); 
}
.spinner .face3 { 
    transform: rotateY(90deg) rotateX(90deg) translateZ(200px); 
    transform: rotateY(90deg) rotateX(90deg) translateZ(200px); 
    transform: rotateY(90deg) rotateX(90deg) translateZ(200px); 
}
.spinner .face4 { 
    transform: rotateY(180deg) rotateZ(90deg) translateZ(200px); 
    transform: rotateY(180deg) rotateZ(90deg) translateZ(200px); 
    transform: rotateY(180deg) rotateZ(90deg) translateZ(200px); 
}
.spinner .face5 { 
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(200px); 
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(200px); 
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(200px); 
}
.spinner .face6 { 
    transform: rotateX(-90deg) translateZ(200px); 
    transform: rotateX(-90deg) translateZ(200px); 
    transform: rotateX(-90deg) translateZ(200px); 
}

.spinner {
    animation: spincube 12s ease-in-out infinite;
    animation: spincube 12s ease-in-out infinite;
    transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform-style: preserve-3d;
   transform-origin: 200px 200px 0;
   transform-origin: 200px 200px 0;
    transform-origin: 200px 200px 0;
}

@keyframes spincube {
    16%      { transform: rotateY(-90deg);                }
    33%      { transform: rotateY(-90deg) rotateZ(90deg); }
    50%      { transform: rotateY(180deg) rotateZ(90deg); }
    66%      { transform: rotateY(90deg) rotateX(90deg);  }
    83%      { transform: rotateX(90deg);   
                  }
}
@keyframes spincube {
    16%      { transform: rotateY(-90deg); transform: rotateY(-90deg); }
    33%      { transform: rotateY(-90deg) rotateZ(90deg); transform: rotateY(-90deg) rotateZ(90deg); }
    50%      { transform: rotateY(180deg) rotateZ(90deg); transform: rotateY(180deg) rotateZ(90deg); }
    66%      { transform: rotateY(90deg) rotateX(90deg); transform: rotateY(90deg) rotateX(90deg); }
    83%      { transform: rotateX(90deg); transform: rotateX(90deg); }
  }
@keyframes spincube { to { transform: rotateY(1turn) } }